  

 
body {
  background: black;
  color: white;
  font-family: sans-serif;
  display: flex;
  margin: 0;
}

/*.sidebar {
  width: 60px;
  background: #1e1e1e;
  display: block;
  /*flex-direction: column;
  align-items: center;
  padding-top: 20px;
}*/

.sidebar a {
  display: block;
  text-decoration: none;
  font-size: 24px;
  color: white;
  padding: 10px;
  margin-bottom: 10px; /* this adds space between icons */
}


.sidebar a {
  text-decoration: none;
  font-size: 24px;
  color: white;
  padding: 10px;
  margin: 5px 0;
}

.sidebar a.active {
  background: hotpink;
  border-radius: 10px;
}

.content {
  padding: 30px;
  flex: 1;
}

form {
  background: #222;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

h2 {
  margin-top: 0;
}

label {
  display: block;
  margin: 10px 0 5px;
}

input {
  width: 100%;
  padding: 8px;
  border: none;
  border-radius: 5px;
  background: #333;
  color: white;
}

button {
  margin-top: 15px;
  padding: 10px 15px;
  background: hotpink;
  border: none;
  border-radius: 6px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

  
